.TabelaProdutos table{
    width: 100%;
}

.TabelaProdutos th{
    background-color: rgb(17, 12, 121);
    color: azure;
}

.TabelaProdutos .Par{
    background-color: #ddd;
}

.TabelaProdutos .Impar{
    background-color: #ccc;
}